@model List<InTheVision.Models.Movie>

@foreach (var item in Model)
{
    <div class="item">
        <!-- card -->
        <div class="card card--big">
            <div class="card__cover">
                <img src="@item.mPoster" alt="">
                <a href="/Movie/Details/@item.id" class="card__play">
                    <i class="icon ion-ios-play"></i>
                </a>
            </div>
            <div class="card__content">
                <h3 class="card__title"><a href="/Movie/Details/@item.id">@item.mName</a></h3>
                <span class="card__category">
                    <a href="#">@item.mGenre</a>
                    
                </span>
                <span class="card__rate"><i class="icon ion-ios-star"></i>@item.mImdb</span>
            </div>
        </div>
        <!-- end card -->
    </div>
}


